/* .App {
  background-color: aquamarine;
  text-align: center;
  width: 100%;
  min-height: 95vh;
} */

html {
  height: 100%;
}
body {
  font-family: "Lato", sans-serif;
  background-color: white;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: 60px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
