body {
  font-weight: 400;
  font-size: 11.9px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.025em;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
}

.page-content {
  /* margin-top: 100px; */
  padding-top: 80px;
  padding-bottom: 75px;
}

.page-width {
  padding: 0 40px;
  max-width: 1500px;
  margin: 0 auto;
}
.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -22px;
}

.medium-up--two-fifths {
  width: 40%;
}
.grid__item {
  float: left;
  padding-left: 22px;
  /* width: 100%; */
  min-height: 1px;
}

.grid--product-images-right .product-single__meta {
  padding-left: 0;
  padding-right: 45px;
}

.product-single__meta {
  text-align: center;
}

.product-single__title {
  margin-bottom: 7.5px;
}

.product-single__title {
  margin-bottom: 5px;
  word-wrap: break-word;
}

.h1,
.h2 {
  font-size: 1.8em;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1;
  text-transform: uppercase;
  margin: 0 0 15px;
  display: block;
}

.product__price {
  color: #1c1d1d;
  margin-right: 5px;
  font-size: 1.2em;
}

.medium-up--three-fifths {
  width: 60%;
}
.product__main-photos {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.product__photos--beside {
  display: flex;
  width: 100%;
}

.product__main-photos {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}

.slick-track {
  cursor: -webkit-grab;
  opacity: 1;
  /* height: 665px; */
}
.product__main-photos .slick-slide:not(.slick-active) {
  height: 0px;
}
.product__main-photos .starting-slide img,
.product__main-photos .slick-initialized img {
  display: block;
}
.product__photos img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.photo-zoom-link--enable {
  cursor: zoom-in;
}
.photo-zoom-link {
  position: relative;
  background-color: #fff;
}

.image-wrap {
  height: 543px;
  width: 814px;
  padding-bottom: 50%;
}

.product__thumbs--beside {
  -webkit-box-flex: 0;
  flex: 0 0 80px;
  max-width: 80px;
  margin-left: 15px;
}

.product__thumbs {
  position: relative;
}

.product__thumbs--beside .slick-list {
  min-height: 100%;
}

.slick-track {
  cursor: -webkit-grab;
  /* height: 665px; */
  opacity: 1;
}

.product__thumbs--beside .product__thumb-item {
  margin-bottom: 15px;
  height: 76px;
  width: 114px;
}
.product__thumb-item {
  border: 2px solid transparent;
}
.product__thumb {
  position: relative;
  display: block;
  cursor: pointer;
}
.product__photos img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.4s ease;
}
.product__thumbs--beside .product__thumb-item {
  margin-bottom: 55px;
  padding-bottom: 10px;
}

.product_size {
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  font-size: 1em;
}

.product__size {
  margin-right: 20px;
  font-size: 1.3em;
  letter-spacing: 0.2em;
}

.to_cart {
  margin-top: 60px;
}

.add_to_cart {
  font-size: 0.8em;
  width: 100%;
  height: 35px;
  background: black;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  color: white;
}

.description {
  margin-top: 50px;
}

.product_desc {
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.social {
  margin-top: 60px;
}

.social_icon {
  padding: 13px;
  /* margin-right: 8px; */
}
